doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  title ZaWasher - Manager Registration
  style.
    nav.navbar {
    border-bottom: solid 1px #05183E;
    }

// Navigation bar
nav#navbar.navbar.navbar-expand-md.navbar-light.py-3.mx-4
  .container-fluid
    a.navbar-brand(href='/')
      span.fw-bold.fst-italic(style='color: #05183E;')
        | ZaWash Bay.
    // toogle button for mobile nax
    button.navbar-toggler.d-md-none(type='button' data-bs-toggle='collapse' data-bs-target='#mainNav' aria-controls='mainNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // nav bar links
    #mainNav.collapse.navbar-collapse.justify-content-end.align-center(style='color: #05183E;')
      ul.navbar-nav
        li.nav-item.d-md-none
          a.nav-link(href='/manager') Sign Up
        li.nav-item.ms-2.d-none.d-md-inline
          a.btn.btn-outline-secondary(href='/manager') Sign Up 

section
  .container-fluid
    .row.g-3.justify-content-center.align-items-center.pt-4.pb-5
      .col-md-8
        .container-lg 
          .row.justify-content-center.align-items-center
            .col-md-6.text-center.d-none.d-md-block
              img(src = '/styles/registerToon.png' alt = 'Registration in progress')
            .form-wrapper.col-md-6
              .text-center.border-bottom.mb-3
                header
                  h2.car.fst-italic.display-6.text-secondary Manager Login
              form#loginForm.row.g-3(action='/' method='POST' onsubmit='return validateLogin(event)')
                .form-floating
                  input#loginusername.form-control(type='text' placeholder='Username' name='loginusername')
                  label.form-label(for='username') Username
                  small#loginerrorUsername
                .form-floating
                  input#loginpassword.form-control(type='password' placeholder='Password' name='loginpassword')
                  label.form-label(for='password') Password
                  small#loginerrorPassword
                .d-grid
                  button#submit.btn.btn-secondary(type='submit')
                    | LogIn

footer.row.justify-content-center
        div.col-md-8
            block footer
            .float-left 
              a(href="/manager") New account
              span  | 
              a(href="/home") Dashboard 
            .float-right  © 2021 Refactory Cohort 0008 | Eugenia Musiimemaria.  
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
script(src='/js/login.js')
