@font-face {
    font-family: ‘RidemyBikeSerifEssential-Bold’;
    src: url(’…/fonts/3794EF_1_0.eot’);
    src: url(’…/fonts/3794EF_1_0.eot?#iefix’) format(‘embedded-opentype’),url(’…/fonts/3794EF_1_0.woff2’) 
    format(‘woff2’),url(’…/fonts/3794EF_1_0.woff’) format(‘woff’),url(’…/fonts/3794EF_1_0.ttf’) format(‘truetype’);
    }